{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}

{{ form_start(formTrick) }}

<div class="jumbotron col-4">
  {{ form_row(formTrick.title, {'attr':{'placeholder':"Titre",'class':"display-5"}})}}
  {{ form_row(formTrick.content, {'attr':{'placeholder':"Votre contenu",'class':"lead"}})}}
  {{ form_row(formTrick.users, {'attr':{'placeholder':"Votre nom ?",'class':"display-5"}})}}
  {{ form_row(formTrick.category, {'attr':{'placeholder':"On mets ça où ?",'class':"display-5"}})}}
    <button type="submit" class="btn btn-primary btn-lg">Créer l'article</button>
  </p>
</div>

{{ form_end(formTrick) }}

{% endblock %}
